Rosin/bin
Rosin/obj
JsonViewer/bin
JsonViewer/obj
Rosin.Base/bin
Rosin.Base/obj
Rosin.Channel/bin
Rosin.Channel/obj
Rosin.Forms/bin
Rosin.Forms/obj
Rosin.Logger/bin
Rosin.Logger/obj
Rosin.Manager/bin
Rosin.Manager/obj
Rosin.WebServer/bin
Rosin.WebServer/obj
Rosin.RosinForFiddler2/bin
Rosin.RosinForFiddler2/obj
Rosin.RosinForFiddler4/bin
Rosin.RosinForFiddler4/obj